---
import "@/styles/globals.css"
import Site from "../components/Site.astro"
//import Site from "@/components/Site.vue";
import { ModeToggle } from "@/components/ModeToggle"
import { Button } from "@/components/ui/button"
import { EditBar } from "@/components/EditBar"
import { PopoverInput } from "@/components/PopoverInput"
---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<!-- {Astro.url + "api"*/}
		<Menu /> -->
		<div class="min-w-screen min-h-screen">
			<Site />
			<div class="w-24 h-24 bg-black"></div>
		</div>
		<PopoverInput client:load />

		<div class="h-24 w-24 light:bg-red-500">
			k
		</div>
		<EditBar client:only="react" />	
		<aside class="bg-background text-foreground dark">

			<ModeToggle client:load />
			<Button variant="secondary" client:load>Hi</Button>
			<!-- Alternative Vue component version. DO NOT USE BOTH AT THE SAME TIME. IT WILL CAUSE CONFUSING BUGS.
			<SiteVue client:load /> -->
		</aside>
	</body>
</html>