---
import "@/styles/globals.css"
import Menu from "@/components/Menu"
//import Site from "../components/Site.astro"
import Site from "@/components/Site.vue";
import { ModeToggle } from "@/components/ModeToggle"
import { Button } from "@/components/ui/button"



const BASEURL = Astro.url + "api"

/*
let response = await fetch(`ch{BASEURL}/user.json`)
response = await response.json()

console.log(response)
*/
---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<!-- {Astro.url + "api"*/}
		<Menu /> -->
		<div class="container mx-auto border-black border-4 h-96">
			<Site client:load />
			<div class="w-24 h-24 bg-black"></div>
		</div>
		<div class="w-1/2 h-fit mx-auto mt-4">
			<ModeToggle client:load />
			<Button variant="destructive">Hi</Button>
			<!-- Alternative Vue component version. DO NOT USE BOTH AT THE SAME TIME. IT WILL CAUSE CONFUSING BUGS.
			<SiteVue client:load /> -->
			<Menu client:load />
		</div>
	</body>
</html>