---
import "@/app/globals.css"
import Menu from "../components/Menu"
//import Site from "../components/Site.astro"
import Site from "../components/Site.vue";


const BASEURL = Astro.url + "api"

/*
let response = await fetch(`ch{BASEURL}/user.json`)
response = await response.json()

console.log(response)
*/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<!-- {Astro.url + "api"*/}
		<Menu /> -->
		<div class="container mx-auto border-black border-4 h-96">
			<Site client:load />
			<div class="w-24 h-24 bg-black"></div>
		</div>
		<div class="w-1/2 h-fit mx-auto mt-4">
			<!-- Alternative Vue component version. DO NOT USE BOTH AT THE SAME TIME. IT WILL CAUSE CONFUSING BUGS.
			<SiteVue client:load /> -->
			<Menu client:load />
		</div>
	</body>
</html>