---
import * as cheerio from "cheerio"
import fs from "node:fs"
import { Button } from "./ui/button"

const fileHandler: string = 
	cheerio.load(
		fs.readFileSync("sites/project1/home.html")
	)
	.html()

const fileSaveHandler = (e: any) => {
	e.preventDefault
	console.log("hello")
}

---
<script>
	import $ from "jquery"
	import { currentElementAtom } from "../state/currentElement"

	const cssClasses = "inner-border-2 inner-border-blue-500"
	let currentElement: JQuery<HTMLElement>

	const hoverFunction = (e: JQuery.Event) => {
		if(!$(e).is(currentElement)) {
			$(e).toggleClass(cssClasses)
		}
	}

	window.onload = function() {
		$("#file").children()
			.on("mouseenter", hoverFunction)
			.on("mouseleave", hoverFunction)
			.on("click", function(e) {
				currentElement = $(this)
				currentElementAtom.set($(this).prop("outerHTML"))
				
				$("#file")
					.children()
					.not($(this))
					.removeClass(cssClasses)

				$(this).addClass(cssClasses)
			})
	}
</script>

<div id="file" set:html={fileHandler}></div>
<Button variant="destructive" onClick={(e) => fileSaveHandler(e)} client:load >Save File</Button>


