---
import * as cheerio from "cheerio";

const fileHandler: string = 
	cheerio.load(
		await Bun
			.file("sites/project1/home.html")
			.text()
	).html()

---
<script>
	import $ from "jquery"
	import { currentElementAtom } from "../state/currentElement"

	const cssClasses = "inner-border-2 inner-border-blue-500"
	let currentElement: JQuery<HTMLElement>

	window.onload = function() {
		$("#file").children()
			.on("mouseenter", function(e) {
				$(this).addClass(cssClasses)
			}).on("mouseleave", function(e) {
				if(!$(this).is(currentElement)) {
					$(this).removeClass(cssClasses)
				}
			}).on("click", function(e) {

				currentElement = $(this)
				currentElementAtom.set($(this).prop("outerHTML"))
				
				$("#file")
					.children()
					.not($(this))
					.removeClass(cssClasses)

				$(this).addClass(cssClasses)
			})
	}
</script>

<div id="file" set:html={fileHandler}></div>
